.dark-theme {
  --color-primary: #11161e;
  --color-grad-sec: #111e18;
  --color-sec: rgba(140, 140, 140, 0.075);
  --color-shadow: #555555;
  --color-active: rgba(123, 123, 123, 0.199);
  --color-font: #dadada;
  --color-border: #424242;
}

.light-theme {
  --color-primary: ##dadada;
  --color-sec: rgba(255, 255, 255, 0.779);
  --color-shadow: #676767;
  --color-active: rgba(217, 217, 217, 0.868);
  --color-font: #252525;
  --color-border: rgb(222, 222, 222);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

*::selection {
  visibility: hidden;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  /* background-color: var(--color-primary); */
  background-image: linear-gradient(
    to right top,
    var(--color-primary),
    var(--color-grad-sec)
  );
  color: var(--color-font);
  font-family: "Alegreya Sans", sans-serif;
  transition: background-color 0.2s;
}

.todo__header {
  padding: 2rem;
  position: relative;
}

h1.todo__heading {
  text-align: center;
  font-size: 5.5rem;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
}

.todo__header p {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75rem;
  letter-spacing: 2px;
}

h2.todo__heading {
  text-align: center;
  font-size: 2rem;
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

h2.todo__heading::after {
  content: "";
  position: absolute;
  width: 107%;
  inset: auto -1px 0 -1px;
  height: 1px;
  rotate: -2.5deg;
  background-color: var(--color-font);
}

.theme-toggle {
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px var(--color-shadow);
  background-color: var(--color-sec);
  transition: all 0.1s;
}

.theme-toggle:active {
  box-shadow: none;
  transform: translateY(2px);
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin: 0 1rem;
}

.list__wrapper {
  height: 75vh;
  background-color: var(--color-sec);
  flex: 0 1 40rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px var(--color-shadow);
  padding: 1rem;
}

.todo__item {
  list-style: none;
  padding: 0.75rem 1rem;
  margin: 1.25rem 0;
  box-shadow: 1px 1px 1px var(--color-shadow);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

/* .todo__item:active {
  filter: invert(0.3);
  background-color: red;
} */

.todo__item-text {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: transparent;
}

.todo__item-text:active,
.todo__item-text:focus {
  outline: none;
  text-decoration: underline;
  border: none;
  height: 100%;
}

.todo__menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todo__menu-btn {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  background-color: var(--color-sec);
  color: inherit;
  border-radius: 1rem;
  cursor: pointer;
}

.todo__menu-btn:active {
  border: 1px inset var(--color-border);
}

.todo__new {
  justify-content: center;
}

.todo__new--form {
  border: 1px solid var(--color-border);
  /* border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem; */
  padding: 0.5rem 0 0.5rem 1.25rem;
  border-radius: 1rem;
}

.todo__new--input,
.todo__new--input:active,
.todo__new--input:focus {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-font);
}

.todo__new--btn {
  height: 100%;
  background-color: transparent;
  color: var(--color-font);
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-left: 1px solid var(--color-border);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.1s;
}

.todo__new--btn:hover {
  font-weight: 700;
}

#clearStorage {
  position: absolute;
  bottom: 1.5rem;
  right: 3rem;
  color: var(--color-font);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px var(--color-shadow);
  background-color: var(--color-sec);
  transition: all 0.1s;
}

#clearStorage:active {
  box-shadow: none;
  transform: translateY(2px);
}

.drag-active {
  background-color: var(--color-active);
  transition: background-color 0.5s;
}

.hide {
  /* display: none; */
  opacity: 0;
  transition: all 0.15s;
}

.delete {
  transform: scale(0) translateY(100%) rotate(5deg);
  opacity: 0;
  transition: all 0.5s;
}
